CREATE DATABASE [QUANLYSANBONG]
USE [QUANLYSANBONG]
GO
/****** Object:  Table [dbo].[CHITIETDATSAN]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDATSAN](
	[MADAT] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [nchar](10) NULL,
 CONSTRAINT [PK_CHITIETDATSAN_1] PRIMARY KEY CLUSTERED 
(
	[MADAT] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DATSAN]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATSAN](
	[MADAT] [varchar](10) NOT NULL,
	[MASAN] [varchar](10) NULL,
	[MAKH] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
	[NGAYDAT] [varchar](10) NULL,
	[THOIGIANVAO] [datetime] NULL,
	[THOIGIANRA] [datetime] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_DATSAN] PRIMARY KEY CLUSTERED 
(
	[MADAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISAN]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISAN](
	[MALOAISAN] [varchar](10) NOT NULL,
	[TENLOAISAN] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISAN] PRIMARY KEY CLUSTERED 
(
	[MALOAISAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANBONG]    Script Date: 06/04/2021 17:56:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANBONG](
	[MASAN] [varchar](10) NOT NULL,
	[TENSAN] [nvarchar](50) NULL,
	[GIA] [float] NULL,
	[TINH TRANG] [nvarchar](50) NULL,
	[MALOAISAN] [varchar](10) NULL,
 CONSTRAINT [PK_SANBONG] PRIMARY KEY CLUSTERED 
(
	[MASAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CHITIETDATSAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATSAN_DATSAN] FOREIGN KEY([MADAT])
REFERENCES [dbo].[DATSAN] ([MADAT])
GO
ALTER TABLE [dbo].[CHITIETDATSAN] CHECK CONSTRAINT [FK_CHITIETDATSAN_DATSAN]
GO
ALTER TABLE [dbo].[CHITIETDATSAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATSAN_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CHITIETDATSAN] CHECK CONSTRAINT [FK_CHITIETDATSAN_DICHVU]
GO
ALTER TABLE [dbo].[DATSAN]  WITH CHECK ADD  CONSTRAINT [FK_DATSAN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DATSAN] CHECK CONSTRAINT [FK_DATSAN_KHACHHANG]
GO
ALTER TABLE [dbo].[DATSAN]  WITH CHECK ADD  CONSTRAINT [FK_DATSAN_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DATSAN] CHECK CONSTRAINT [FK_DATSAN_NHANVIEN]
GO
ALTER TABLE [dbo].[DATSAN]  WITH CHECK ADD  CONSTRAINT [FK_DATSAN_SANBONG] FOREIGN KEY([MASAN])
REFERENCES [dbo].[SANBONG] ([MASAN])
GO
ALTER TABLE [dbo].[DATSAN] CHECK CONSTRAINT [FK_DATSAN_SANBONG]
GO
ALTER TABLE [dbo].[SANBONG]  WITH CHECK ADD  CONSTRAINT [FK_SANBONG_LOAISAN] FOREIGN KEY([MALOAISAN])
REFERENCES [dbo].[LOAISAN] ([MALOAISAN])
GO
ALTER TABLE [dbo].[SANBONG] CHECK CONSTRAINT [FK_SANBONG_LOAISAN]
GO
